.quiz-container {
  padding: 20px;
  text-align: center;
}

.quiz-title {
  font-size: 22px;
  font-weight: 700;
  color: #0a4fa0;
  margin-bottom: 6px;
}

.quiz-subtitle {
  font-size: 15px;
  color: #444;
  margin-bottom: 18px;
  line-height: 1.4;
}

.quiz-card {
  background: #fff;
  padding: 24px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-top: 8px;
}

.question-index {
  font-size: 18px;
  font-weight: 700;
  color: #0a4fa0;
  margin-bottom: 10px;
}

.question-text {
  font-size: 17px;
  color: #333;
  margin-bottom: 22px;
}

.option {
  background: #F39200;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
   color: #fff;
  
  &:hover {
    background: #DB6E00;
  }
}
