<app-header></app-header>
<div class="quiz-container">

  <!-- TTULO PRINCIPAL -->
  <h1 class="quiz-title">Descubra seu Perfil de Investidor</h1>

  <!-- SUBTÍTULO-->
  <p class="quiz-subtitle">
    Responda algumas perguntas rápidas para entendermos seus objetivos financeiros.
  </p>

  <!-- CARD DA PERGUNTA -->
  <div class="quiz-card">

    <h2 class="question-index">
      Pergunta {{ currentIndex + 1 }} de {{ questions.length }}
    </h2>

    <p class="question-text">
      {{ questions[currentIndex].text }}
    </p>

    <!-- OPÇÕES -->
    <div
      class="option"
      *ngFor="let option of questions[currentIndex].options"
      (click)="selectOption(option.value)"
    >
      {{ option.label }}
    </div>

  </div>
</div>
